&nbsp;
&nbsp;

# Welcome to Feature Factory for Walmart

Feature factory is an online infrastructure that allows one to quickly prototype and test features for different machine learning problems. 

Before beginning to use Feature Factory, we highly recommend that you familiarize yourself with what IPython Notebook. IPython Notebook is an interactive python kernel that allows you to run code in different cells. Variables created by the code live in the IPython Notebook python kernel and can be accessed at any time, by any cell. More information can be found at http://ipython.org/notebook.html

# Creating your own IPython Notebook

To get started with Feature Factory, please clone the Template notebook. To do this, click "File"->"Make a Copy". This should spawn a new tab within your browser with the copied notebook. Rename the notebook to your liking and make all edits on that notebook.

&nbsp;
&nbsp;


# Walmart Machine Learning Competition

## Problem Statement

In this competition, you are provided with historical sales data for 45 Walmart stores located in different regions. Each store contains many departments, and participants must project the sales for each department in each store. To add to the challenge, selected holiday markdown events are included in the dataset. These markdowns are known to affect sales, but it is challenging to predict which departments are affected and the extent of the impact.

## Data

The dataset is in a relational format, split among mutliple files. When using **commands.get_sample_dataset()** to retrieve the dataset, the files are provided as a list of *pandas.DataFrame* objects.

The step-by-step example below shows this in detail.

### Sales Data

The sales table contains the details about the weekly sales which each store department made within the studied period of time. This table also includes information about whether a particular date was a holiday or not.

| Data Fields | Definition |
|-------------|------------|
|Store        |the store number|
|Dept         |the department number|
|Date         |the week|
|Weekly_Sales |sales for the given department in the given store. This is what needs to be predicted.|
|IsHoliday    |whether the week is a special holiday week|

### Stores Data

The stores data contains anonymized information about each store, indicating its type and its size.

| Data Fields | Definition |
|-------------|------------|
|Store        |the store number|
|Type         |Type of store|
|Size         |Size of the store|

### Features Data

This table contains additional data related to the store, department, and regional activity for the given dates.

|         Data Fields         | Definition |
|-----------------------------|------------|
|Store       |the store number|
|Date        |the week|
|Temperature |average temperature in the region|
|Fuel_Price  |cost of fuel in the region|
|MarkDown1   |anonymized data related to promotional markdowns that Walmart is running. MarkDown data is only available after Nov 2011, and is not available for all stores all the time. Any missing value is marked with an NA.|
|CPI         |the consumer price index|
|Unemployment|the unemployment rate|
|IsHoliday   |whether the week is a special holiday week|


&nbsp;
&nbsp;

## Step-by-Step Example

Step 1: Import the feature factory infrastructure

In [1]:
from walmart import commands

&nbsp;
&nbsp;

Step 2: Create a username/password or login into an existing account. If you create an account and it is successful, you don't need to login - you are logged in automatically.

In [2]:
commands.create_user('a_user', 'a_password')

username already exists

In [3]:
commands.login('a_user', 'a_password')

user successfully logged in

&nbsp;
&nbsp;

Step 3: To ensure that this notebook is mapped to your username, it is required that you execute the command below.

In [4]:
commands.add_notebook('a_notebook_name')

Notebook already registered

&nbsp;
&nbsp;

Step 4: Get a sample dataset. This will allow you to test your feature before running it on the full data in the server. Remember that the dataset as a list of [Pandas DataFrames](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html).

In [5]:
dataset = commands.get_sample_dataset()
# dataset[0] <- this refers to the sales data
# dataset[1] <- this refers to the stores data
# dataset[2] <- this refers to the features data

In [6]:
dataset[0][:5]

   Store  Dept        Date  Weekly_Sales IsHoliday
0      1     1  2010-02-05      24924.50     False
1      1     1  2010-02-12      46039.49      True
2      1     1  2010-02-19      41595.55     False
3      1     1  2010-02-26      19403.54     False
4      1     1  2010-03-05      21827.90     False

In [7]:
dataset[1][:5]

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [8]:
dataset[2][:5]

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

&nbsp;
&nbsp;

Step 5: Define your feature extraction function.

The name you give to the function is the name which will be used later on to register your feature extaction function and the score which it obtains.

Your function should simply take in the dataset list as a parameter and output a N x M numpy matrix or pandas dataframe where N is number of rows in the sales table, one row per store-dept-date combination, and M is the number of features which will be used for the prediction.
Bear in mind that sorting is important and that, in order to properly evaluate your function score, the extracted features should preserve the order of the sales table.

Also note that, even though the system allows you to do so, any feature extraction function which makes use of the outcome column will be disqualified.

**WARNING:** Your functions have to be self contained!

This means that you can use helper functions or import external modules but that any import or variable definition needs to be made within the functions which use them.

Cross validation is (intentionally) run in a separated process in order to make sure that this scope pattern is preserved, and will fail if the function uses anything defined somewhere else in the notebook.

You might be wondering why we require this. The reason is that the code of your function might be executed and further evaluated in different environments where the variables and modules defined in your notebook will not be available.

In [16]:
def example_feature(dataset):
    return dataset[0][['Dept', 'IsHoliday']].fillna(0)

&nbsp;
&nbsp;

Step 6: Evaluate the score of your feature extraction function before submitting it.

You can make use of the cross_validate command as many times a needed in order to have a preview of what the score of your function will be.

In [17]:
commands.cross_validate(example_feature)

Obtaining dataset
Extracting features
Cross validating

0.46987142259259745

&nbsp;
&nbsp;

Step 7: Register your function in the system

Once you are satisfied with the results, you can call the add_feature command passing your function as an argument.
This will cross_validate the function again and store your code and your score for future analysis.

Again, remember that your function code must be self contained and import or define everything it needs to be run successfully.

In [18]:
commands.add_feature(example_feature)

Obtaining dataset
Extracting features
Cross validating
Your feature example_feature scored 0.469871422593
Feature example_feature successfully registered

&nbsp;
&nbsp;

Step 8: (Optional) Modify and update your function code.

If you discover that your function can be improved you can add it again into the system as many times as required with the same function name.

However, for improved clarity, we recommend you to use this option only to fix problems or make small improvements within a similar approach.

So, in case you want start a different feature extraction strategy, we strongly recommend you to register it with a new name.

In [19]:
def imports():    # We need to import pandas within our functions
    global pd
    import pandas as pd

def one_hot(feature):
    """Perform one-hot-encoding to a feature column."""
    return pd.get_dummies(feature)
    
def example_feature(dataset):
    """Return a dataset containing only some of the features."""
    imports()
    
    dept_holiday = dataset[0][['Dept', 'IsHoliday']].fillna(0)
    store_type = one_hot(dataset[0].merge(dataset[1], on='Store')['Type'])
    return pd.concat([dept_holiday, store_type], axis=1)


commands.add_feature(example_feature)

Obtaining dataset
Extracting features
Cross validating
Your feature example_feature scored 0.519738699277
Feature example_feature successfully registered